<mat-toolbar [color]="'primary'">
  <mat-form-field style="width: 50%">
    <input matInput placeholder="Web Socket Url" [(ngModel)]="url">
  </mat-form-field>
  <button mat-button (click)="connect()">Connect
  </button>
</mat-toolbar>
<mat-grid-list cols="2">
  <mat-grid-tile>
    <div style="overflow: scroll;width: 100%;height: 100%;">
      <div *ngFor="let item of messages.reverse()">
        <prism-block [code]="item.text | json" [language]="'JSON'"
                     *ngIf="!item.sent"></prism-block>
        <div *ngIf="item.sent" style="background-color: #8ce99a; padding: 1px;">
          <prism-block [code]="item.text" [language]="'JSON'"></prism-block>
        </div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <textarea style="height: 100%;width: 100%;background-color: #343a40;color: #f8f9fa;"
              placeholder="Write Here" [(ngModel)]="message"></textarea>
    <button mat-raised-button [color]="'primary'"
            style="position: fixed; right: 20px;bottom: 20px;" (click)="send()">Send
    </button>
  </mat-grid-tile>
</mat-grid-list>
